@font-face {
        font-family: "witchwoode";
        src: url("Fonts/Witchwoode-Regular.woff");
        font-weight: normal;
        font-style: normal;
    }
.title {
    font-family: "witchwoode";
    color: white;
    font-size: 200px;
    text-align: center;
}

.goldText{
    color:darkgoldenrod;
}
.redText{
    color:darkred
}

.base64image {
  width: 256px;
  height: 256px;
  /* Base64 image truncated for example */
  /* See Twee file for full version. */
  background-image: url('data:image/png;base64...');
}