/* Font Definitions for Use in Story */



/* Story Font */
@font-face {
  font-family: "Story Font";
  src: url("Fonts/typewcond_regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Story Font Bold";
  src: url("Fonts/typewcond_bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Story Font Demi";
  src: url("Fonts/typewcond_demi.woff") format("woff");
  font-weight: 600; 
  font-style: normal;
}

/* Scary Font */
@font-face {
  font-family: "Scary Font";
  src: url("Fonts/kingthings_trypewriter_2.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Super Scary Font*/
@font-face {
  font-family: "Super Scary Font";
  src: url("Fonts/shards.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Title Font */
@font-face {
  font-family: "Title Font";
  src: url("Fonts/witchwoode_regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*From visuals.css*/
@font-face {
        font-family: "witchwoode";
        src: url("Fonts/Witchwoode-Regular.woff");
        font-weight: normal;
        font-style: normal;
    }
.title {
    font-family: "witchwoode";
    color: white;
    font-size: 200px;
    text-align: center;
}
